<footer class="bg-light text-center">
    <div class="border-dark border-top">
        <h5 class="text-uppercase mt-3 fw-bold">Formula 1</h5>
        <p>Propuesta de modernización para la visualización digital de los resultados de campeonatos internacionales de fórmula 1.
        </p>
    </div>
    <div class="text-center p-3 bg-dark">
        <p class="text-light mb-0">© 2023 Copyright | Tecnored Chile</p> 
    </div>
</footer>