{{#>plantillaExterna}}

<h3>Prueba 3</h3>

<h1>Circuitos</h1>

<select id="circuitos-dropdown">
  {{#each circuitos}}
    <option value="{{circuito}}">{{circuito}}</option>
  {{/each}}
</select>


{{/plantillaExterna}}