{{#>template}}
<h1>Ranking Escuderías</h1>

<div class="cardContainer">
{{#each logo}}
<div class="card" style="width: 18rem;">
  <img src="{{this}}" class="card-img-top" alt="..." style="width:120px">
 
  <div class="card-body">
    <h5 class="card-title">RANKING</h5>
    <p class="card-text">PUNTAJE</p>
    <Pclass="card-text">ABANDONOS</Pclass=>
    
    <a href="#" class="btn btn-primary">Ir a ranking pilotos</a>
  </div>

</div>
{{/each}}
</div>
{{/template}}