{{#> template}}


<h1 class="bg-dark">Puntaje Escuderias</h1>
<main class="mainEscuderia">
    <table class="table tablaEscuderias table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Posición</th>
      <th scope="col">Escudería</th>
      <th scope="col">Puntaje</th>
    </tr>
  </thead>
  <tbody>
    {{#each escuderias}}
    <tr>
      <td>{{posicion}}</td>
      <td>{{escuderia}}</td>
      <td>{{puntaje}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</main>
{{/template}}