{{#> template}}
<main>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col" class="table-light">Escuderías</th>
                <th scope="col" class="table-light">Puntaje total</th>
            </tr>
        </thead>
        <tbody>
        {{#each puntajes}}
            <tr class="text-center">
                <td>{{escuderia}}</td>
                <td>{{puntos}}</td>
            </tr>    
        {{/each}}
        </tbody>
    </table>
</main>
{{/template}}