/* Index.hbs */

select.selectPilot {
    padding: 5% 0%;
}

/* Ranking cards */

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding: 4% 4%;
}

h1 {
    text-align: center;
}

